<tr>
  <td><%= @investment.name %></td>
  <td><%= @investment.amount %></td>
  <td><%= @investment.month %></td>
  <td><%= @investment.basicpay %></td>
  <td><%= @investment.total %></td>
  <td><%= link_to 'Show', @investment %></td>
  <td><%= link_to 'Edit', edit_investment_path(@investment) %></td>
  <td><%= link_to 'Destroy', @investment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>