<%= form_for(@night_shift,remote: true) do |f| %>
  

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>

  </div>
  <div class="field">
    <%= f.label :claim %><br>
    <%= f.text_field :claim %>
  </div>
  <div class="field">
    <%= f.label :basicpay_id %><br>
    <%= f.text_field :basicpay_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


 

