 
<!DOCTYPE html>
<html>
<head>
  <title>Expencetracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<link rel="stylesheet" type="text/css" href="multipleDatePicker.css"/>
<script type="text/javascript" src="multipleDatePicker.min.js"></script>
</head>
<body>
   <nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-left-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li class="active"><a runat="basicpays" href="/basicpays">Basicpays<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li ><a href="/loans">Loans<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
        <li ><a runat="investments" href="/investments">Investments<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
        <li ><a runat="night_shifts" href="/night_shifts">NightShifts<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
        <li ><a runat="weekends" href="/weekends">Weekends<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
      </ul>
    </div>
  </div>
</nav> 


    <% if user_signed_in? %>
	<%= current_user.email %>
	<%= link_to "Account Settings", edit_user_registration_path %> | 
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
	<%= link_to "Login", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %> 
   <% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
